body {
    background-color: lightgray;
}

button {
    border-radius: 14px;
    border: 2px solid #333333;
    padding: 8px 14px;
    background-color: transparent;

}

.filled button, .icon button {
    background-color: #333333;
    color: white;
}

.icon button img {
    width: 12px;
    margin-right: 3px;
}

button:hover {
    background-color: green;
    cursor: pointer;
    border: 1px solid green;
}