.first section{
    font-family: Great Vibes;
}

.second section{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: white;
    border: 2px solid #333333;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  